.nav-bar {
    width: 100%;
    button {
        font-size: 1em;
    }
}

.search {
    margin-left: 2em;
    margin-right: 50%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 0;
}

.nav-icon {
    height: 3em;
    margin-left: 2em;
    margin-right: 1em;
}

.user-icon {
    margin-left: 57%;
    .mat-icon {
        transform: scale(2);
    }
}

.card {
    width: 95%;
    margin-left: 2em;
    margin-top: 1em;
}

.active {
    border-bottom: 1px solid white;
    border-radius: 0;
}