<mat-toolbar color="primary" class="nav-bar">
    <img src="../../assets/UrbanReefLogo.png" class="nav-icon" />
    <button mat-button class="active">Dashboard</button>
    <button mat-button [routerLink]="['/addreef']" routerLinkActive="router-link-active" >Reef toevoegen</button>
    <input class="search" type="search" placeholder="Zoeken naar reef"/>
    <button mat-mini-fab color="primary" aria-label="user icon" class="user-icon" [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/userdetails']" routerLinkActive="router-link-active" >
          <mat-icon>person</mat-icon>
          <span>Gebruikersinformatie</span>
        </button>
        <button mat-menu-item [routerLink]="['/adduser']" routerLinkActive="router-link-active" >
            <mat-icon>person_add</mat-icon>
            <span>Gebruiker toevoegen</span>
          </button>
        <button mat-menu-item [routerLink]="['']" routerLinkActive="router-link-active" >
          <mat-icon>logout</mat-icon>
          <span>Afmelden</span>
        </button>
    </mat-menu>
</mat-toolbar>

<mat-card *ngFor="let element of reefs" class="card">
    <mat-card-header>
        <div mat-card-avatar>
            <button mat-mini-fab color="primary" [routerLink]="['/reef', element.id]" routerLinkActive="router-link-active" >
                <mat-icon>read_more</mat-icon>
            </button>
        </div>
        <mat-card-title>
            {{ element.name }}</mat-card-title>
        <mat-card-subtitle>Temperatuur: {{ element.currentTemperature }}&deg; | Luchtvochtigheid: {{ element.currentHumidity }}%</mat-card-subtitle>
        <mat-card-actions align="end">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>drive_file_rename_outline</mat-icon>
                  <span>Reef hernoemen</span>
                </button>
                <button mat-menu-item >
                  <mat-icon color="warn">delete</mat-icon>
                  <span>Reef verwijderen</span>
                </button>
            </mat-menu>
        </mat-card-actions>
    </mat-card-header>
</mat-card>
