$primary: #274E13;
$secondary: #B6D9B7;
$tertiary: #95A3A4;

.error {
    color: red;
}

.custom-btn-outline {
    color: #274E13;
    border-color: #274E13;
    :hover {
        background-color: #274E13;
        color: white;
    }
    :active {
        background-color: #274E13;
        color: white;
    }
}

.custom-navbar {
    padding-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.search {
    border: #274E13 1px solid;
    padding: 0.4em;
    border-radius: 0.5em;
}