.nav-bar {
    width: 100%;
    button {
        font-size: 1em;
    }
}

.search {
    margin-left: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 0;
}

.nav-icon {
    height: 3em;
    margin-left: 2em;
    margin-right: 2em;
}

.user-icon {
    margin-left: 70%;
    .mat-icon {
        transform: scale(2);
    }
}

.active {
    border-bottom: 1px solid white;
    border-radius: 0;
}

.card {
    width: 40%;
    padding-left: 2em;
    margin-left: 30%;
    margin-top: 1em;
}

.form-field {
    margin-right: 5em;
    width: 40em;
}

label.label input[type="file"] {
    position: absolute;
    top: -1000px;
}

.label {
    cursor: pointer;
    width: 15em;
    border-radius: 0.5em;
    padding: 1em;
    margin: 0;
    background: #dddddd;
    display: inline-block;
}

.label:hover {
    background: #ccc;
}

.confirmation {
    margin-top: 2em;
    font-size: 1em;
    margin-right: 2em;
}

.add {
    margin-right: 60%;
}